.wrapper {
  background: rgb(175, 175, 175);
  background-image: url('https://wallpapershome.com/images/pages/pic_h/6142.jpg');
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 50px;
}